* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(200, 200, 200);
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
}

/* Menu */

nav ul {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(53, 160, 20);
}

ul.first {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.first > li {
  font-weight: 800;
  color: rgb(207, 200, 200);
  display: flex;
  position: relative;
  padding: 20px;
}

ul.first > li > div {
  display: none;
  position: absolute;
  margin: 36px -5px;
  padding: 3px 0;
  background-color: teal;
  border: 2px solid rgb(53, 160, 20);
  border-radius: 3%;
  z-index: 6;
}

ul.first > li > div ul li{
  padding: 5px;
  margin: 0 6px;
}

ul.first > li:nth-child(2) > div {
  min-width: 350px;
}
ul.first > li:nth-child(4) > div {
  min-width: 250px;
}

ul.first > li:hover > div {
  display: flex;
  flex-wrap: nowrap;
}



/* Body */
body {
  background-color: rgb(68, 63, 63);
}

section {
  margin: 20px;
}

h2 {
  padding: 10px;
}

section ol {
  margin: 20px;
}

section ol li{
  margin: 6px;
}

section ul {
  margin: 3px 5px 6px 16px;
}