body{
	background-color: #8EBFD3;
	color:#333340;  
	font-family: sans-serif;
}
div {
background-color: #FFF;
margin: 3% auto;
padding: 20px;
width: 80%;
border-radius: 15px;
}
h1{
margin-top: 0px;
font-size: 20pt;
text-align: center;
border-bottom: solid 1px;
padding-bottom: 10px;
}
span{
	color: red;
	font-weight: bolder;
}
li {
	margin-bottom: 6px;
}
li#none {
    list-style-type: none;
}
.laranja{
	color: orange;	
}
h3{
	margin: 18px 0 -3px;
}